{% extends "base.html" %}

{% block content %}
<div class=sc>
<h3>clients </h3>
</div>
<form class="form form-inline" method="post" role="form">
<div class=sc>
  <table>
  <tr>
    <td><h4>name</h4></td>
    <td><h4>volume</h4></td>
  </tr>
  {% for form in forms %}
  <tr>
    <td><div{% if not form.connected %} class="offline"{% endif %}><br/> {{ form.name.data }} {{ form.hf }} </div></td>
    <td><div class=sc-slider> {{ form.slider }} </div></td>
  </tr>
  {% endfor %}
  <tr><td>
      <p></p>
      <input type=submit value=change class='btn-primary'>
  </td></tr>
</table>
</form>
</div>
{% endblock %}

